span.icon-xl {
    font-size: 20px;
}

p.form-tool {
    margin-bottom: 0 !important;
}

div.form-tool {
    height: 64px;
    margin-bottom: 2px;
}

.sticky-offset {
    top: .5rem;
    position: sticky;
}

.dropzone {
    border-style: dashed;
    border-width: thick;
    height: 40vh;
    align-items: center;
    padding-top: 12.5vh;
}

.dropzone.invalid-field {
    border-color: red;
}

.dropzone.invalid-field>h4 {
    color: red;
    visibility: visible !important;
}

.hidden {
    position: absolute;
}