.required-field::after {
    content: '*';
    color: red;
    font-weight: bold;
}

.btn-xs {
        --bs-btn-padding-y: 0.15rem;
        --bs-btn-padding-x: 0.5rem;
        --bs-btn-font-size: 0.750rem;
        --bs-btn-border-radius: 0.15rem;
}

input.invalid-field, textarea.invalid-field {
    border-color: red;
}

input.invalid-field:focus, textarea.invalid-field:focus {
    border-color: red;
    box-shadow: 0 0 0 .25rem rgba(255, 0, 0, .25);
}

.form-check-input.invalid-field {
    accent-color: red;
    filter: invert(85%) sepia(83%) saturate(6726%) hue-rotate(360deg) brightness(111%) contrast(111%);
}

.form-check-input.invalid-field:checked {
    filter:none;
}

.list-group-item {
    border: var(--bs-list-group-border-width) solid var(--bs-card-border-color);
}

.list-group-horizontal>.list-group-item {
    border-top:none !important;
    border-bottom:none !important;
}

.list-group-horizontal>.list-group-item.item-left {
    background-color: var(--bs-card-cap-bg);
    border-right: var(--bs-list-group-border-width) solid var(--bs-card-border-color);
    border-radius: 0 !important;
}

.reply-svg {
    fill: var(--bs-secondary-color);
}

.accordion-button:not(.collapsed) {
    background-color: hsl(from var(--bs-card-cap-bg) h s calc(l - 15%));
    color: var(--bs-card-cap-color);
}

:root[data-theme="darkly"] .accordion-button:not(.collapsed) {
    box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0 var(--bs-card-border-color);
}
.accordion-button:not(.collapsed)::after {
    background-image: var(--bs-accordion-btn-icon);
}

.image-preview {
    display: flex;
    flex-wrap: wrap;
    row-gap: 5px;
}

.card-img-full {
    border-radius: var(--bs-card-border-radius);
}