<div class="card bg-secondary" style="margin-bottom: 3px;" draggable="true" data-field="text-field">
        <div class="card-header" id="HEAD">
            <div class="card-title mb-0">
                Text Field
                <button type="button" class="btn btn-xs btn-danger float-end ms-1" onClick="removeField(this.closest('.card'))">
                    <span class="fa fa-times"></span>
                </button>
            </div>
        </div>
        <div class="card-body" id="BODY">
            <div class="container-fluid">
                <div class="row" id="ROW">
                    <div class="form-group">
                        <label class="form-label" for="question">Question</label>
                        <input type="text" class="form-control" id="question" value="{{ question_text }}" required>
                        <div class="invalid-feedback">
                            This field is required. Please click the delete button to remove this field.
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group" style="display: flex; justify-content: flex-end;">
                        <input type="checkbox" class="form-check-input" id="required" style="margin-right: 3px;">
                        <label class="form-label" for="required">Required?</label>
                    </div>
                </div>
            </div>
        </div>
    </div>