<div class="modal fade" id="reject-modal" tabindex="-1" role="dialog" aria-labelledby="rejectModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header bg-danger">
                <h6 class="modal-title" id="rejectModalLabel">Reject Application</h6>
            </div>
            <div class="modal-body">
                <p>Are you sure you wish to reject the application of {{ application.user.profile.main_character.character_name }} to join {{ application.form.corporation.corporation_name }}? </p>
                <div class="text-center">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <a href="{% url "hradmin:reject_response" application.pk %}" class="btn btn-danger" id="reject-btn">Reject</a>
                </div>
            </div>
        </div>
    </div>
</div>