<template id="text-field-template">
    {% include "hrapps/partials/fields/builder/text-field.html" %}
</template>

<template id="text-area-template">
    {% include "hrapps/partials/fields/builder/text-area.html" %}
</template>

<template id="dropdown-template">
    {% include "hrapps/partials/fields/builder/dropdown.html" %}
</template>

<template id="checkboxes-template">
    {% include "hrapps/partials/fields/builder/checkboxes.html" %}
</template>

<template id="list-group-item-template">
    {% include "hrapps/partials/fields/builder/list-group-item.html" %}
</template>