{% extends 'hrapps/base.html' %}

{%  block more_css %}
    {% include 'hrapps/bundles/coreuifree-css.html' %}
    {% include 'hrapps/bundles/materialdesignicons-css.html' %}

    <style>
        span.icon-xl {
            font-size: 20px;
        }

        p.form-tool {
            margin-bottom: 0 !important;
        }

        div.form-tool {
            height: 64px;
            margin-bottom: 2px;
        }

        .sticky-offset {
            top: .5rem;
            position: sticky;
        }

        .btn-xs {
                --bs-btn-padding-y: 0.15rem;
                --bs-btn-padding-x: 0.5rem;
                --bs-btn-font-size: 0.750rem;
                --bs-btn-border-radius: 0.15rem;
        }

        .dropzone {
            border-style: dashed; border-width: thick; height: 40vh; align-items: center; padding-top: 12.5vh
        }

        .hidden {
            position: absolute;
        }

        input.invalid-field {
            border-color: red;
        }

        input.invalid-field:focus {
            border-color: red;
            box-shadow: 0 0 0 .25rem rgba(255, 0, 0, .25);
        }
    </style>
{% endblock %}

{% block content %}
    {% include "hrapps/partials/builder_templates.html" %}
    <div class="row">
        <h3>Form Builder</h3>
    </div>
    <div class="row mb-2">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    Form Information
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label for="name">Form Name</label>
                        <input type="text" class="form-control" id="name" value="{{ form_name }}" required>
                        <div class="invalid-feedback">
                            A form name is required.
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="description">Form Description</label>
                        <textarea class="form-control" id="description" rows="3">{{ form_description }}</textarea>
                    </div>
                    <div class="form-group" style="display: flex; justify-content: flex-end;">
                        <input type="checkbox" class="form-check-input" id="active" style="margin-right: 3px;" {% if active %} checked {% endif %}>
                        <label for="active">Active</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="sticky-offset">
                <div class="card">
                    <div class="card-header">
                        Field Toolbox
                    </div>
                    <div class="card-body">
                        <div id="text-field" draggable="true" class="card card-body bg-secondary form-tool">
                            <p class="form-tool"><span class="mdi mdi-form-textbox icon-xl"></span> Text Box</p>
                        </div>
                        <div id="text-area" draggable="true" class="card card-body bg-secondary form-tool">
                            <p class="form-tool">
                                <span class="cil-short-text icon-xl" style="vertical-align: text-bottom"></span>
                                Text Area (Multi-Line Text)
                            </p>
                        </div>
                        <div id="dropdown" draggable="true" class="card card-body bg-secondary form-tool">
                            <p class="form-tool"><span class="mdi mdi-form-dropdown icon-xl"></span> Dropdown</p>
                        </div>
                        <div id="checkboxes" draggable="true" class="card card-body bg-secondary form-tool">
                            <p class="form-tool">
                                <span class="mdi mdi-format-list-checkbox icon-xl"></span>
                                Checkboxes
                            </p>
                        </div>
                    </div>
                </div>
                <button class="btn btn-primary mt-2" onclick="submitCreateForm()">Create Form</button>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    Form Designer
                </div>
                <div id="designer" class="card-body">
                    <div id="dropField" class="{% if "edit" in request.path|lower %}invisible hidden {% else %}visible {% endif %}" style="z-index: -1;">
                        <div class="card dropzone">
                            <H1>Drag and Drop Fields Here</H1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_javascript %}
    <script type="text/javascript">
        let currentId = 0;
        let optionId = 0;

        const dropfield = document.querySelector("#dropField");
        const designer = document.getElementById("designer");

        const optionTypes = ["checkboxes", "dropdown"]

        function dragstartHandler (event) {
            // Determine the template that will be used when the tool is dropped on the designer.
            const srcId = event.srcElement.id;

            if (srcId.includes("question")) {
                // Set transfer data to the id of the question that will be reordered.
                event.dataTransfer.setData("text/reorder", srcId);
            }
            else {
                let templateId = srcId + "-template";

                // Set transfer data to the id of the template that will be cloned.
                event.dataTransfer.setData("text/plain", templateId);
            }
        }

        function designerDropHandler (event) {
            if (event.dataTransfer.getData("text/reorder")) {
                reorderFields(event);
            }
            else {
                addField(event);
            }
        }

        function reorderFields(event) {
            // Get the id of the field being reordered.
            const srcId = event.dataTransfer.getData("text/reorder");
            const draggedElem = document.getElementById(srcId);

            // Get the element that the dragged element is being dropped relative to.
            var elem = document.elementFromPoint(event.clientX, event.clientY);

            const relativeElem = elem.closest('[id^="question_"]');

            // Determine if the dragged element should be placed before or after the relative element.
            const afterOrBefore = positionRelativeElem(event.clientY, event.clientX);

            // Place the dragged element after or before the relative element.
            if (afterOrBefore === "after") {
                relativeElem.after(draggedElem);
            }
            else {
                relativeElem.before(draggedElem);
            }
        }

        function positionRelativeElem(y, x) {
            // Get the bounding box of the element at the coordinates provided
            const elem = document.elementFromPoint(x, y);

            // Get the bounding box of the question element that contains the target element.
            const box = elem.closest('[id^="question_"]').getBoundingClientRect();

            // Determine if the y coordinate of the mouse is above or below the middle of the element.
            const middleY = box.top + (box.height / 2);

            // Return "before" if dropped on the top half of the target question, and after if on the bottom half.
            if (middleY > y) {
                return "before";
            }
            return "after";
        }

        function addField(event) {
            // Increment the question counter.
            currentId++;

            event.preventDefault();
            // Get the name of the template to clone
            const data = event.dataTransfer.getData("text/plain");

            // Select the designer card, and the template
            const parent = document.getElementById("designer");
            const template = document.getElementById(data);

            // Clone the template, set the id of the template to be used later if we need to remove the question
            // and add the template to the designer.
            const clone = document.importNode(template.content, true)
            const cardDiv = clone.querySelector(".card");
            cardDiv.id = `question_${currentId}`
            cardDiv.addEventListener("dragstart", dragstartHandler);
            if (designer.children.length === 1) {
                dropfield.classList.remove("visible")
                dropfield.classList.add("invisible", "hidden");
            }
            parent.append(clone);
        }

        function removeField (elem) {
            // Remove a question from the designer.
            elem.remove();

            if (designer.children.length === 1) {
                dropfield.classList.remove("invisible", "hidden");
                dropfield.classList.add("visible");
            }
        }

        function addOption (elem) {
            optionId++;

            const template = document.getElementById("list-group-item-template")
            const listGroupItemClone = document.importNode(template.content, true)

            const listGroup = elem.querySelector("ul")
            listGroupItemClone.querySelector("li").id = `option_${optionId}`
            listGroup.append(listGroupItemClone)
        }

        function getQuestions() {
            const questions = [];
            designer.querySelectorAll("[id^='question_']").forEach(elem => {
                questions.push(elem);
            })
            return questions;
        }

        function customReportValidity(elem) {
            const elemValid = elem.checkValidity();

            if (!elemValid) {
                elem.classList.add("invalid-field");
                if (elem.parentElement.classList.contains("d-flex")) {
                    elem = elem.parentElement;
                }
                elem.parentElement.querySelector(".invalid-feedback").style.display = "block";

                return false;
            }

            if (elem.classList.contains("invalid-field")) {
                elem.classList.remove("invalid-field");
                if (elem.parentElement.classList.contains("d-flex")) {
                    elem = elem.parentElement;
                }
                elem.parentElement.querySelector(".invalid-feedback").style.display = "none";
            }

            return true;
        }

        function validateForm() {
            let validForm;

            const nameValid = customReportValidity(document.getElementById("name"))
            const descriptionValid = customReportValidity(document.getElementById("description"));
            const activeValid = customReportValidity(document.getElementById("active"))

            validForm = nameValid && descriptionValid && activeValid;

            const questions = getQuestions();

            if (questions.length === 0) {
                console.log("A form must have questions");
                validForm = false;
            }

            for (let i = 0; i < questions.length; i++) {
                const question = questions[i];
                const questionType = question.closest("[id^='question_']").getAttribute("data-field");

                const questionField = question.querySelector("[id='question']");
                const options = question.querySelectorAll("[id='option']");
                if (!(options.length < 2)) {
                    for (let i = 0; i < options.length; i++) {
                        const option = options[i];
                        const optionValid = customReportValidity(option);
                        validForm = validForm && optionValid;
                    }
                }

                if (optionTypes.includes(questionType) && options.length < 2) {
                    question.closest("[id^='question_']").querySelector("#options_card").querySelector(".card-footer").style.color = "red";

                    validForm = false;
                }
                else if (optionTypes.includes(questionType) && options.length >= 2){
                    question.closest("[id^='question_']").querySelector("#options_card").querySelector(".card-footer").style.color = "";
                }

                const questionValid = customReportValidity(questionField);
                validForm = validForm && questionValid;
            }

            console.log(`This form is ${validForm ? "valid" : "invalid"}`)
            return validForm;
        }

        function buildFormJson() {
            let validForm = validateForm();

            if (!validForm) {
                return {error: "Form invalid."};
            }

            const formJson = {
                name: document.getElementById("name").value,
                description: document.getElementById("description").value,
                active: document.getElementById("active").checked,
                questions: []
            }

            const questions = getQuestions();

            for (let i = 0; i < questions.length; i++) {
                const question = questions[i];
                const questionField = question.querySelector("[id='question']");
                const required = question.querySelector("[id='required']").checked;
                const fieldType = question.closest("[id^='question_']").getAttribute("data-field");

                const questionJson = {
                    type: fieldType,
                    question: questionField.value,
                    required: required,
                }

                if (optionTypes.includes(fieldType)) {
                    const options = question.querySelectorAll("[id^='option_']");
                    const optionsList = [];
                    for (let i = 0; i < options.length; i++) {
                        const option = options[i];
                        optionsList.push(option.querySelector("[id='option']").value);
                    }

                    questionJson.options = optionsList;
                }

                formJson.questions.push(questionJson);
            }

            return formJson;
        }

        function submitCreateForm() {
            const formJson = buildFormJson();

            if ("error" in formJson) {
                console.log(`Unable to submit form: ${formJson.error}`)
                return;
            }


            console.log(JSON.stringify(formJson))
            fetch("{% url "hrapps:create_form" %}", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}',
                },
                body: JSON.stringify(formJson)
            })
            .then(response => {
                console.log(`Create Response Status: ${response.status}`)
            })
            .catch((error) => {
                console.log(error)
            })
        }

        const textFieldTool = document.getElementById("text-field");
        textFieldTool.addEventListener("dragstart", dragstartHandler);

        const textAreaTool = document.getElementById("text-area");
        textAreaTool.addEventListener("dragstart", dragstartHandler);

        const dropdownTool = document.getElementById("dropdown");
        dropdownTool.addEventListener("dragstart", dragstartHandler);

        const checkboxesTool = document.getElementById("checkboxes");
        checkboxesTool.addEventListener("dragstart", dragstartHandler);

        designer.addEventListener("dragover", (event) => {
            event.preventDefault();
        })
        designer.addEventListener("drop", designerDropHandler);
    </script>
{% endblock %}

