<li class="list-group-item" {% if id %}id="option_{{ id }}"{% endif %}>
    <div class="d-flex">
        <input type="text" class="form-control" id="option" value="{{ option }}" required>
        <btn class="btn btn-danger ms-2" title="Delete Option" onclick="removeField(this.closest('.list-group-item'))">
            <span class="fa fa-trash"></span>
        </btn>
    </div>
    <div class="invalid-feedback">
        This field cannot be empty. Click the delete button to remove this option.
    </div>
</li>