<template id="text-field-template">
    {% include "hrapps/admin/partials/builder/fields/text-field.html" %}
</template>

<template id="text-area-template">
    {% include "hrapps/admin/partials/builder/fields/text-area.html" %}
</template>

<template id="image-template">
    {% include "hrapps/admin/partials/builder/fields/image.html" %}
</template>

<template id="dropdown-template">
    {% include "hrapps/admin/partials/builder/fields/dropdown.html" %}
</template>

<template id="checkboxes-template">
    {% include "hrapps/admin/partials/builder/fields/checkboxes.html" %}
</template>

<template id="list-group-item-template">
    {% include "hrapps/admin/partials/builder/fields/list-group-item.html" %}
</template>