<div class="form-field checkbox-field" data-required="{{ field.required }}">
    <label for="question_{{ id }}" class="h5 {% if field.required %}required-field{% endif %}">{{ field.question }}</label>
    {% for option in field.options %}
        <div class="form-check">
            <input
                    class="form-check-input"
                    type="checkbox"
                    value="{{ option }}"
                    id="question_{{ id }}_option_{{ forloop.counter }}"
                    {% if disabled %} disabled {% endif %}
            >
            <label class="form-check-label" for="question_{{ id }}_option_{{ forloop.counter }}">{{ option }}</label>
        </div>
    {% endfor %}
</div>