<div class="form-field">
    <label for="question_{{ id }}" class="h5 {% if field.required %}required-field{% endif %}">{{ field.question }}</label>
    {% if field.allowMultiple and field.attachmentLimit == 0 %}
    {% else %}
        <p style="float: inline-end; margin: 0;" class="text-muted"><small><em>Limit {% if field.allowMultiple %}{{ field.attachmentLimit }}{% else %}1{% endif %} file{% if field.allowMultiple %}s{% endif %}</em></small></p>
    {% endif %}
    <input type="file" class="form-control" accept="image/*" id="question_{{ id }}" onchange="previewFile(this)" {% if field.required %} required {% endif %} {% if disabled %} disabled {% endif %} {% if field.allowMultiple %}multiple data-limit="{{ field.attachmentLimit }}"{% endif %}>
    <div class="image-preview" id="question_{{ id }}_preview" style="margin-top: 5px;"></div>
</div>