{% extends "hrapps/main/base.html" %}
{% load evelinks %}
{% load hrtags %}

{% block hrapps_content %}
    <div class="row">
        <h3>View Application</h3>
    </div>
    <div class="row mb-3">
        <div class="col-md-3">
            <div class="card card-primary mb-3">
                <div class="card-header">
                    <div class="card-title">
                        Application Details
                        <div class="float-end">
                            <span class="badge bg-{{ application.status_color_class }}">{{ application.status_label }}</span>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="text-center">
                        <img
                            src="{{ application.user.profile.main_character.character_id|character_portrait_url:128 }}"
                            style="border-radius: 0.375rem"
                        >
                        <br>
                        {{ application.user.profile.main_character.character_name }}
                    </div>
                    <hr>
                    <dl>
                        <dt>Corporation</dt>
                        <dd>{{ application.form.corporation.corporation_name }}</dd>
                        <dt>Application Date</dt>
                        <dd>{{ application.created }}</dd>
                        <dt>Recruiter</dt>
                        <dd>
                            {% if application.recruiter %}
                                {{ application.recruiter }}
                            {% else %}
                                Unclaimed
                            {% endif %}
                            {% if perms.hrapps.claim_recruiter %}
                                <button class="btn btn-xs btn-warning float-end">Claim</button>
                            {% endif %}
                        </dd>
                        <dt>Reviewer</dt>
                        <dd>
                            {% if application.reviewer %}
                                {{ application.reviewer }}
                            {% else %}
                                Unclaimed
                            {% endif %}
                            {% if perms.hrapps.claim_reviewer %}
                                <button class="btn btn-xs btn-warning float-end">Claim</button>
                            {% endif %}
                        </dd>
                    </dl>
                    <hr>
                    <div class="d-flex justify-content-center">
                        {% if request.user == application.user %}
                            <button class="btn btn-xs btn-danger">Withdraw Application</button>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="card card-primary mb-3">
                <div class="card-header">
                    <div class="card-title">Characters</div>
                </div>
                <div class="card-body">
                    <table class="table table-striped">
                        <thead>
                            <th>Character</th>
                            {% if corptools is not None %}
                                <th>CT</th>
                            {% endif %}
                            {% if memberaudit is not None%}
                                <th>MA</th>
                            {% endif %}
                        </thead>
                        <tbody>
                            {% for character in characters %}
                            <tr>
                                <td>
                                    <img
                                        src="{{ character.character_id|character_portrait_url }}"
                                        style="border-radius: 0.375rem"
                                    > {{ character.character_name }}
                                </td>
                                {% if corptools is not None %}
                                    <td>
                                    {% if character.character_name in corptools %}
                                        <a href="{% url "corptools:reactmain" character.character_id %}" type="button" class="btn btn-success"><span class="fa fa-check-circle"></span></a>
                                    {% else %}
                                        <button class="btn btn-danger"><span class="fa fa-times-circle"></span></button>
                                    {% endif %}
                                    </td>
                                {% endif %}
                                {% if memberaudit is not None %}
                                    <td>
                                    {% if character.character_name in memberaudit %}
                                        <a href="{% url "memberaudit:character_viewer" memberaudit|get_item:character.character_name %}" type="button" class="btn btn-success"><span class="fa fa-check-circle"></span></a>
                                    {% else %}
                                        <button class="btn btn-danger"><span class="fa fa-times-circle"></span></button>
                                    {% endif %}
                                    </td>
                                {% endif %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="card card-primary mb-3">
                <div class="card-header">
                    <div class="card-title">Responses</div>
                </div>
                <div class="card-body">
                    {% for response in responses %}
                        <div class="card mb-2 bg-secondary">
                            <div class="card-header">
                                <h5 class="card-title">{{ response.question }}</h5>
                            </div>
                            <div class="card-body">
                                {% if response.answer_is_list %}
                                    <ul>
                                    {% for answer in response.answer %}
                                        <li>{{ answer }}</li>
                                    {% endfor %}
                                    </ul>
                                {% else %}
                                    <p class="card-text">{{ response.answer|linebreaksbr|urlize }}</p>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="card card-primary mb-3">
                <div class="card-header">
                    <div class="card-title">Comments</div>
                </div>
                <div class="card-body">
                    <p class="card-text">Coming Soon</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}